<div class="window">
  <div class="navbar">

    <div class="header">
      <span>{{title}}</span>
    </div>


    <div (click)="wbRef.minimize()" class="button" id="min">
      <img
        class="icon"
        srcset="
          assets/icons/min-w-10.png 1x,
          assets/icons/min-w-12.png        1.25x,
          assets/icons/min-w-15.png        1.5x,
          assets/icons/min-w-15.png        1.75x,
          assets/icons/min-w-20.png        2x,
          assets/icons/min-w-20.png        2.25x,
          assets/icons/min-w-24.png        2.5x,
          assets/icons/min-w-30.png        3x,
          assets/icons/min-w-30.png        3.5x
        "
        draggable="false"
      />
    </div>

    <div
      (click)="wbRef.toggleMaximize()"
      *ngIf="!isMaximized"
      class="button"
      id="max"
    >
      <img
        class="icon"
        srcset="
          assets/icons/max-w-10.png 1x,
          assets/icons/max-w-12.png        1.25x,
          assets/icons/max-w-15.png        1.5x,
          assets/icons/max-w-15.png        1.75x,
          assets/icons/max-w-20.png        2x,
          assets/icons/max-w-20.png        2.25x,
          assets/icons/max-w-24.png        2.5x,
          assets/icons/max-w-30.png        3x,
          assets/icons/max-w-30.png        3.5x
        "
        draggable="false"
      />
    </div>

    <div
      (click)="wbRef.toggleMaximize()"
      class="button"
      *ngIf="isMaximized"
      id="restore"
    >
      <img
        class="icon"
        srcset="
          assets/icons/restore-w-10.png 1x,
          assets/icons/restore-w-12.png        1.25x,
          assets/icons/restore-w-15.png        1.5x,
          assets/icons/restore-w-15.png        1.75x,
          assets/icons/restore-w-20.png        2x,
          assets/icons/restore-w-20.png        2.25x,
          assets/icons/restore-w-24.png        2.5x,
          assets/icons/restore-w-30.png        3x,
          assets/icons/restore-w-30.png        3.5x
        "
        draggable="false"
      />
    </div>

    <div (click)="wbRef.close()" class="button" id="close">
      <img
        class="icon"
        srcset="
          assets/icons/close-w-10.png 1x,
          assets/icons/close-w-12.png        1.25x,
          assets/icons/close-w-15.png        1.5x,
          assets/icons/close-w-15.png        1.75x,
          assets/icons/close-w-20.png        2x,
          assets/icons/close-w-20.png        2.25x,
          assets/icons/close-w-24.png        2.5x,
          assets/icons/close-w-30.png        3x,
          assets/icons/close-w-30.png        3.5x
        "
        draggable="false"
      />
    </div>
  </div>

  <div class="body">
    <div class="main">
      <div class="content">
        <router-outlet ></router-outlet>
      </div>
    </div>
    
  </div>
</div>
